:root{
    --green-text: #3BB77E;
    --green-btn: #DEF9EC;
    --text: #121212;
    --text-darkblue: #253D4E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 15px;
}

.deals__item{
    position: relative;
    padding-bottom: 100px;
}
.deals__item-img{
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hover-animation{
    transition: all .2s;
}
.hover-animation:hover{
    transform: translateY(-3px);
}
.deals__item-info{
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
    -2px -2px 5px rgba(0,0,0,0.1) ;
    padding: 1rem;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
}
.deals__item-info a{
    color: var(--text);
    font-size: 1rem;
    line-height: 0;
}
.deals__item-info a:hover{
    color: var(--green-text);
}
.deals__item-price-first{
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--green-text);
    margin-right: .5rem;
}
.deals__item-price-second{
    color: #ccc;
    text-decoration: line-through;
    font-weight: 500;
    font-size: .8rem;
}

.trending__header{
    border-bottom: .5px solid #ccc;
}
.trending__item-img{
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}

.trending__item-info{

}
.trending__item-info a{
    color:var(--text);
    line-height: auto;

}
.trending__item-info a:hover{
    color: var(--green-text);
}

.trending__item-rating{
    font-size: .7rem;
}

.mailform{
    width: 100%;
    background-image: url('//boostify-nesst.myshopify.com/cdn/shop/files/bg-newletter.png?v=1684467574&width=1584');
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    height: 350px;
}

.mailform__info{
    width: 100%;
    max-width: 600px;
}
.mailform__info h1{
    color: var(--text-darkblue);
}
.mailform__box{
    background-color: white;
    width: 100%;
    max-width: 400px;
    border-radius: 26px;
    display: flex;
    align-items: center;
}
.mailform__box-input{
    margin: 15px 0px;
    padding: 5px 0;
    flex-grow: 1;
    border: none;
}
.mailform__box-input:focus{
    outline: none;
}
.mailform__box-btn{
    color: white;
    background-color: var(--green-text);
    border: none;
    margin-left: auto;
    padding: 21px;
    border-radius: 25px;
    flex-grow: 0;
}

.features__item{
    background-color: #F4F6FA;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.features__item i{
    color: var(--green-text);
    margin-right: 1rem;
    font-size: 50px;
}